/** @file component.scss The reusable, modular parts of the design. They are the callouts, the sidebar sections, the product lists and so on. */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700,100);
/* line 10, ../sass/component.scss */
.logo { font-size: .8rem; width: 204px; height: 92px; background: url(../images/ibs-logo.png) no-repeat; text-indent: -10000px; margin-right: 30px; margin-top: 7.5px; }

/* line 23, ../sass/component.scss */
.modal .modal-body { overflow: hidden; }
/* line 26, ../sass/component.scss */
.modal .modal-close { position: absolute; top: 15px; right: 15px; z-index: 500; font-size: 2rem; line-height: 0; height: auto; }
/* line 37, ../sass/component.scss */
.modal .col__left::after { position: absolute; width: 1px; right: 0; top: 0; height: 75%; min-height: 200px; background: #ccc; content: ""; }
/* line 48, ../sass/component.scss */
.modal form { max-width: 200px; margin: auto; }

/* line 54, ../sass/component.scss */
.modal__search .modal-content { margin-top: 300px; }
/* line 57, ../sass/component.scss */
.modal__search input { border: none; background: #fff; width: 100%; padding-right: 30px; color: #ccc; line-height: 3.5rem; height: 3.5rem; font-size: 3rem; }
/* line 66, ../sass/component.scss */
.modal__search input:focus { color: #191919; }

/* line 73, ../sass/component.scss */
.modal__login .modal-dialog { width: 800px; }

/* line 78, ../sass/component.scss */
.search { -moz-border-radius: 35px; -webkit-border-radius: 35px; border-radius: 35px; height: 35px; line-height: 29px; width: 35px; border: 1px solid #242424; text-align: center; background: #000; display: inline-block; }
/* line 87, ../sass/component.scss */
.search .glyphicon { color: #fff; font-size: 1.6rem; }

/* line 94, ../sass/component.scss */
.btn-login, .btn-login:hover, .btn-login:active { display: inline-block; position: relative; margin-right: 40px; text-transform: uppercase; background: #000; border: 1px solid #242424; -moz-border-radius: 0 0 0 0; -webkit-border-radius: 0; border-radius: 0 0 0 0; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; text-shadow: none; font-size: 1.2rem; color: #fff; height: 35px; }
/* line 107, ../sass/component.scss */
.btn-login::after, .btn-login:hover::after, .btn-login:active::after { width: 1px; position: absolute; position: absolute; top: 50%; margin-top: -12.5px; right: -23px; background: #FFC423; height: 25px; content: ""; }

/* line 121, ../sass/component.scss */
.carousel__lg .carousel-control { line-height: 50px; width: 50px; background: none; bottom: 30px; top: auto; text-align: center; text-shadow: 0 0 0 none; z-index: 100; }
/* line 130, ../sass/component.scss */
.carousel__lg .carousel-control .glyphicon { font-size: 1.6rem; margin: 0; width: auto; height: auto; position: relative; display: inline; left: auto; right: auto; }
/* line 140, ../sass/component.scss */
.carousel__lg .carousel-control.left { left: 15px; }
/* line 143, ../sass/component.scss */
.carousel__lg .carousel-control.right { left: 140px; }
/* line 148, ../sass/component.scss */
.carousel__lg .carousel-icon { position: absolute; left: 65px; width: 75px; bottom: 15px; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; -moz-transition-delay: 3s; -o-transition-delay: 3s; -webkit-transition-delay: 3s; transition-delay: 3s; -moz-transition-duration: 0.5s; -o-transition-duration: 0.5s; -webkit-transition-duration: 0.5s; transition-duration: 0.5s; -moz-transition-property: opacity; -o-transition-property: opacity; -webkit-transition-property: opacity; transition-property: opacity; }
/* line 157, ../sass/component.scss */
.carousel__lg .carousel-icon:hover { width: 85px; left: 60px; }
/* line 162, ../sass/component.scss */
.carousel__lg .carousel-caption { width: 50%; right: 15px; bottom: 15px; background: rgba(0, 0, 0, 0.7); left: auto; top: auto; font-family: "Roboto", "Helvetica", sans-serif; padding: 15px; text-align: left; }
/* line 173, ../sass/component.scss */
.carousel__lg .carousel-indicators { display: none; }
/* line 177, ../sass/component.scss */
.carousel__lg .item img { width: 100%; height: auto; }

/* line 184, ../sass/component.scss */
.top-button { padding-top: 15px; padding-bottom: 15px; -moz-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; background: transparent; text-transform: uppercase; font-weight: 400; letter-spacing: .05rem; text-align: center; padding: 15px 30px; float: left; height: 120px; }
/* line 196, ../sass/component.scss */
.top-button a { color: #fff; }
/* line 199, ../sass/component.scss */
.top-button img { width: 50px; margin: auto; margin-top: 7.5px; }
/* line 204, ../sass/component.scss */
.top-button:hover, .top-button.active { background: rgba(0, 0, 0, 0.7); -moz-border-radius: 5px 5px 0 0; -webkit-border-radius: 5px; border-radius: 5px 5px 0 0; border-bottom: 5px solid #2D6CA2; }
/* line 208, ../sass/component.scss */
.top-button:hover a, .top-button.active a { text-decoration: none; }

/* line 216, ../sass/component.scss */
.mm { top: -100%; background: #2D6CA2; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; -webkit-transition: all 0.3s ease; transition: all 0.3s ease; z-index: 150; position: absolute; background: #f0f0f0; left: 0; width: 100%; padding: 15px; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; filter: none; overflow: hidden; }
/* line 229, ../sass/component.scss */
.mm.open { -moz-transition: opacity 0.3s ease; -o-transition: opacity 0.3s ease; -webkit-transition: opacity 0.3s ease; transition: opacity 0.3s ease; min-height: 300px; top: 120px; }
/* line 234, ../sass/component.scss */
.mm.active { filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; z-index: 151; }
/* line 238, ../sass/component.scss */
.mm.mm-1 { background-color: #2D6CA2; *zoom: 1; filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF173752', endColorstr='#FF2D6CA2'); background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE3Mzc1MiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzJkNmNhMiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 10, color-stop(0%, #173752), color-stop(100%, #2d6ca2)); background-image: -moz-linear-gradient(top, #173752 0%, #2d6ca2 10px); background-image: -webkit-linear-gradient(top, #173752 0%, #2d6ca2 10px); background-image: linear-gradient(to bottom, #173752 0%, #2d6ca2 10px); }
/* line 241, ../sass/component.scss */
.mm.mm-2 { background-color: #FFC423; *zoom: 1; filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFBC8A00', endColorstr='#FFFFC423'); background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JjOGEwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmYzQyMyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 10, color-stop(0%, #bc8a00), color-stop(100%, #ffc423)); background-image: -moz-linear-gradient(top, #bc8a00 0%, #ffc423 10px); background-image: -webkit-linear-gradient(top, #bc8a00 0%, #ffc423 10px); background-image: linear-gradient(to bottom, #bc8a00 0%, #ffc423 10px); }
/* line 244, ../sass/component.scss */
.mm.mm-3 { background-color: #2D6CA2; *zoom: 1; filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF173752', endColorstr='#FF2D6CA2'); background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE3Mzc1MiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzJkNmNhMiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 10, color-stop(0%, #173752), color-stop(100%, #2d6ca2)); background-image: -moz-linear-gradient(top, #173752 0%, #2d6ca2 10px); background-image: -webkit-linear-gradient(top, #173752 0%, #2d6ca2 10px); background-image: linear-gradient(to bottom, #173752 0%, #2d6ca2 10px); }
/* line 247, ../sass/component.scss */
.mm h3 { margin-top: 0; }
/* line 250, ../sass/component.scss */
.mm .mm--callouts { padding-top: 15px; }

/* line 255, ../sass/component.scss */
.sidebar, .main-content { padding-top: 15px; padding-bottom: 15px; }

/* line 259, ../sass/component.scss */
.form-control:focus { box-shadow: none; }

/* line 263, ../sass/component.scss */
img.pull-left { margin-right: 15px; margin-left: 0; }

/* line 268, ../sass/component.scss */
img.pull-right { margin-left: 15px; margin-right: 0; }

/* line 273, ../sass/component.scss */
.icon-col { text-align: center; font-size: 1.2rem; padding-top: 15px; padding-bottom: 15px; }
/* line 277, ../sass/component.scss */
.icon-col, .icon-col a { color: #191919; }

/* line 286, ../sass/component.scss */
.btn__callout, .btn__callout:hover, .btn__callout:active, .btn__callout:focus { color: #191919; background: #ccc; width: 100%; margin: auto; text-align: center; }

/* line 298, ../sass/component.scss */
.panel, .panel-body { -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; border: none; background: transparent; }

/* line 306, ../sass/component.scss */
.panel .panel-heading { background: none; border-bottom-width: 1px; border-bottom-style: solid; color: #191919; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; border-color: rgba(0, 0, 0, 0.3); padding-left: 0; }

/* line 318, ../sass/component.scss */
.panel-gallery .panel-body { padding: 0; }
/* line 321, ../sass/component.scss */
.panel-gallery .gallery { width: 100%; overflow: hidden; }
/* line 325, ../sass/component.scss */
.panel-gallery .gallery > img { display: none; }
