/** @file theme.scss Theme rules dictate the various parts of the site that are not re-usable, like logo styles or unique elements that are not used elsewhere */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700);
/* line 10, ../sass/theme.scss */
.logo { font-size: .8rem; width: 204px; height: 92px; background: url(../images/ibs-logo.png) no-repeat; text-indent: -10000px; margin-right: 30px; margin-top: 7.5px; }

/* line 20, ../sass/theme.scss */
.search-modal { width: 80%; top: 300px; }
/* line 23, ../sass/theme.scss */
.search-modal input { border: none; background: #fff; width: 100%; padding-right: 30px; color: #ccc; }
/* line 29, ../sass/theme.scss */
.search-modal input:focus { color: #191919; }
/* line 33, ../sass/theme.scss */
.search-modal .glyphicon-search { position: absolute; right: 7.5px; top: 7.5px; width: 30px; }

/* line 41, ../sass/theme.scss */
.search { -moz-border-radius: 35px; -webkit-border-radius: 35px; border-radius: 35px; height: 35px; line-height: 30px; width: 35px; border: 2px solid #2D6CA2; text-align: center; background: #000; display: inline-block; }
/* line 50, ../sass/theme.scss */
.search .glyphicon { color: #fff; font-size: 1.6rem; }

/* line 57, ../sass/theme.scss */
.btn-login, .btn-login:hover, .btn-login:active { display: inline-block; position: relative; margin-right: 40px; text-transform: uppercase; background: #000; border: 2px solid #2D6CA2; -moz-border-radius: 0 0 0 0; -webkit-border-radius: 0; border-radius: 0 0 0 0; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; text-shadow: none; font-size: 1.2rem; color: #fff; height: 35px; }
/* line 70, ../sass/theme.scss */
.btn-login::after, .btn-login:hover::after, .btn-login:active::after { width: 1px; position: absolute; position: absolute; top: 50%; margin-top: -12.5px; right: -23px; background: #FFC423; height: 25px; content: ""; }
