/**
 * @file component.scss
 *   The reusable, modular parts of the design. They are the callouts, the
 *   sidebar sections, the product lists and so on.
 */

@import "vars";
@import "mixins";

.logo {
  font-size:.8rem;
  width:204px;
  height:92px;
  background:url(../images/ibs-logo.png) no-repeat;
  text-indent:-10000px;
  margin-right:$spacing * 2;
  margin-top:.5 * $spacing;
}

//modals

.modal {
  .modal-body {
    overflow: hidden;
  }
  .modal-close {
    position:absolute;
    top:$spacing;
    right:$spacing;
    z-index:500;
    font-size:2rem;
    line-height:0;
    height:auto;
  }
  .col__left {
  
    &::after {
      position:absolute;
      width:1px;
      right:0;
      top:0;
      height:75%;
      min-height:200px;
      background:$gray-light;
      content:"";
    }
  }
  form {
    max-width:200px;
    margin:auto;
  }
}
.modal__search {
  .modal-content {
    margin-top:300px;
  }
  input {
    border:none;
    background:#fff;
    width:100%;
    padding-right:30px;
    color:$gray-light;
    line-height:3.5rem;
    height:3.5rem;
    font-size:3rem;
    &:focus {
      color:$near-black;
    }
  }
}

.modal__login {
  .modal-dialog {
    width:800px;    
  }
}

.search {
  @include border-radius(35px);
  height:35px;
  line-height:29px;
  width:35px;
  border:1px solid rgba(36, 36, 36, 1);
  text-align:center;
  background:#000;
  display:inline-block;
  .glyphicon {
    color:#fff;
    font-size:1.6rem;
  }
}

.btn-login {
  &, &:hover, &:active {
    display:inline-block;
    position:relative;
    margin-right:40px;
    text-transform: uppercase;
    background:#000;
    border:1px solid rgba(36, 36, 36, 1);
    @include border-radius(0 0 0 0);
    @include box-shadow(none);
    @include text-shadow(none);
    font-size:1.2rem;
    color:#fff;
    height:35px;
    &::after {
      width:1px;
      position:absolute;
      @include absolute-y(25px);
      right:-23px;
      background:$color-2;
      height:25px;
      content:"";
    }
  }
}


.carousel__lg {
  .carousel-control {
    line-height:$control-size;
    width:$control-size;
    background:none;
    bottom:$spacing * 2;
    top:auto;
    text-align: center;
    @include text-shadow(0 0 0 none);
    z-index:100;
    .glyphicon {
      font-size:1.6rem;
      margin:0;
      width:auto;
      height:auto;
      position:relative;
      display:inline;
      left:auto;
      right:auto;
    }
    &.left {
      left:$spacing;
    }
    &.right {
      left:$control-size + 75 + $spacing; //add 75 to compensate for the carouel-icon
    }
  }
  //position the icon so it goes in between the 2 controls
  .carousel-icon {
    position:absolute;
    left:$control-size + $spacing;
    width:75px;
    bottom:$spacing;
    @include opacity(0); //other rule in state.scss
    @include transition-delay(3s);
    @include transition-duration(.5s);
    @include transition-property(opacity);
    &:hover {
      width:85px;
      left:$control-size + $spacing - 5;
    }
  }
  .carousel-caption {
    width:50%;
    right:$spacing;
    bottom:$spacing;
    background:rgba(0,0,0,.7);
    left:auto;
    top:auto;
    font-family:$sans-serif;
    padding:$spacing;
    text-align:left;
  }
  .carousel-indicators {
    display:none;
  }
  .item {
    img {
      width:100%;
      height:auto;
    }
  }
}

.top-button {
  padding-top:$spacing;
  padding-bottom:$spacing;
  @include transition(.3s all);
  background:rgba(0,0,0,0);
  text-transform: uppercase;
  font-weight:400;
  letter-spacing:.05rem;
  text-align:center;
  padding:$spacing ($spacing * 2);
  float:left;
  height:$header-height;
  a {
    color:#fff;
  }
  img {
    width:50px;
    margin:auto;
    margin-top:.5 * $spacing;
  }
  &:hover, &.active {
    background:rgba(0,0,0,.7);
    @include border-radius($radius $radius 0 0);
    border-bottom:5px solid $color-1;
    a {
      text-decoration: none;
    }
  }
}


//megamenu styles
.mm {
  top:-100%;
  background:$color-1;
  @include transition(.3s all ease);
  z-index:150;
  position:absolute;
  background:$near-white;
  left:0;
  width:100%;
  padding:$spacing;
  @include opacity(0);
  filter:none;
  overflow: hidden;
  &.open {
    @include transition(.3s opacity ease);
    min-height:300px;
    top:$header-height;
  }
  &.active {
    @include opacity(1);
    z-index:151;
  }
  &.mm-1 {
    @include mm-shadow-gradient($color-1);
  }
  &.mm-2 {
    @include mm-shadow-gradient($color-2);
  }
  &.mm-3 {
    @include mm-shadow-gradient($color-1);
  }
  h3 {
    margin-top:0;
  }
  .mm--callouts {
    padding-top:$spacing;
  }
}

.sidebar, .main-content {
  @include padding-top-bottom();
}

.form-control:focus {
  box-shadow: none;
}

img.pull-left {
  margin-right:$spacing;
  margin-left:0;
}

img.pull-right {
  margin-left:$spacing;
  margin-right:0;
}

.icon-col {
  text-align: center;
  font-size:1.2rem;
  @include padding-top-bottom();
  &, a {
    color:$near-black;
  }
}

//
// Buttons
//
.btn__callout {
  &,&:hover,&:active,&:focus {
    color:$near-black;
    background:$gray-light;
    width:100%;
    margin:auto;
    text-align:center;
  }
}

//
// bootstrap panels
//
.panel, .panel-body {
  @include box-shadow(none);
  @include border-radius(0);
  border:none;
  background:transparent;
  
}
.panel {
  .panel-heading {
    background:none;
    border-bottom-width:1px;
    border-bottom-style: solid;
    color:$near-black;
    @include border-radius(0);
    border-color:rgba(0,0,0,.3);
    padding-left:0;
  }
}

.panel-gallery {
  .panel-body {
    padding:0;
  }
  .gallery {
    width:100%;
    overflow:hidden;
    
    > img {
      display:none; // display none so the images aren't shown before the whole
                    // page is loaded.  Overridden when galleria adds an
                    // inner wrapper.
    }
  }
}

