/**
 * @file component.scss
 *   The reusable, modular parts of the design. They are the callouts, the
 *   sidebar sections, the product lists and so on.
 */

@import "vars";
@import "mixins";

.logo {
  font-size:.8rem;
  width:204px;
  height:92px;
  background:url(../images/ibs-logo.png) no-repeat;
  text-indent:-10000px;
  margin-right:$spacing * 2;
  margin-top:.5 * $spacing;
  @media(max-width:$break-sm){
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    float:none !important;
    background-size:auto 84%;
    padding-top:0;
    margin-top:0;
  }
}

.expand-menu {
  @include border-radius($spacing);
  width:$spacing * 2;
  height:$spacing * 2;
  border:2px solid $gray-light;
  color:$near-white;
  text-align: center;
  @include absolute-y();
  left:$spacing;
}

//modals

.modal {
  .modal-body {
    overflow: hidden;
  }
  .modal-close {
    position:absolute;
    top:$spacing;
    right:$spacing;
    z-index:500;
    font-size:2rem;
    line-height:0;
    height:auto;
  }
  .col__left {
  
    &::after {
      position:absolute;
      width:1px;
      right:0;
      top:0;
      height:75%;
      min-height:200px;
      background:$gray-light;
      content:"";
    }
  }
  form {
    max-width:200px;
    margin:auto;
  }
}
.modal__search {
  font-size:3rem;
  .modal-content {
    margin-top:$header-height + $spacing;
  }
}

.modal__login {
  .modal-dialog {
    max-width:800px;    
    width:100%;
  }
}
.search {
  background: #fff;
  padding:0 $spacing;
  position: relative;
  form {
    width:100% !important;
    max-width:100% !important;
  }
  input {
    border:none;
    background:#fff;
    width:100% !important;
    padding-right:30px;
    color:$gray-light;
    line-height:3.5rem;
    height:3.5rem;
    font-size:inherit;
    &:focus {
      color:$near-black;
    }
  }
  .glyphicon {
    right:$spacing;
    @include absolute-y();
  }
}

.btn-search {
  @include border-radius(35px);
  height:35px;
  line-height:32px;
  width:35px;
  border:1px solid $gray-medium;
  text-align:center;
  background:#000;
  display:inline-block;
  .glyphicon {
    color:#fff;
    font-size:1.6rem;
  }
}

.btn-login {
  &, &:hover, &:active, &:focus {
    display:inline-block;
    position:relative;
    text-transform: uppercase;
    background:#000;
    border:1px solid $gray-medium;
    @include border-radius(0 0 0 0);
    @include box-shadow(none);
    @include text-shadow(none);
    font-size:1.2rem;
    color:#fff;
    height:35px;
    margin-bottom:$spacing / 2;
  }
}


.carousel__lg {
  .carousel-control {
    line-height:$control-size;
    width:$control-size;
    background:none;
    bottom:$spacing * 2;
    top:auto;
    text-align: center;
    @include text-shadow(0 0 0 none);
    z-index:100;
    .glyphicon {
      font-size:1.6rem;
      margin:0;
      width:auto;
      height:auto;
      position:relative;
      display:inline;
      left:auto;
      right:auto;
    }
    &.left {
      left:$spacing;
    }
    &.right {
      left:$control-size + 75 + $spacing; //add 75 to compensate for the carouel-icon
    }
  }
  //position the icon so it goes in between the 2 controls
  .carousel-icon {
    position:absolute;
    left:$control-size + $spacing;
    width:75px;
    bottom:$spacing;
    @include opacity(0); //other rule in state.scss
    @include transition-delay(3s);
    @include transition-duration(.5s);
    @include transition-property(opacity);
    &:hover {
      width:85px;
      left:$control-size + $spacing - 5;
    }
  }
  .carousel-caption {
    width:50%;
    right:$spacing;
    bottom:$spacing;
    background:rgba(0,0,0,.7);
    left:auto;
    top:auto;
    font-family:$sans-serif;
    padding:$spacing;
    text-align:left;
  }
  .carousel-indicators {
    display:none;
  }
  .item {
    img {
      width:100%;
      height:auto;
    }
  }
}

.top-button {
  padding-top:$spacing;
  padding-bottom:$spacing;
  background:rgba(0,0,0,0);
  text-transform: uppercase;
  font-weight:400;
  letter-spacing:.05rem;
  text-align:center;
  padding:25px 2%;
  float:left;
  height:$header-height;
  font-size:1.1rem;
  a {
    color:#fff;
  }
  img {
    width:50px;
    margin:auto;
    margin-top:.5 * $spacing;
    @include transition(.3s all ease);
  }
  &:hover, &.active {
    img {
      width:56px;
    }
  }
  
  &.active {
    background:rgba(0,0,0,.7);
    @include border-radius($radius $radius 0 0);
    border-bottom:5px solid $color-1;
    a {
      text-decoration: none;
    }
  }
}



//
// Sidebars & off-canvas containers
//

.sidebar {
  height:100%;
  @include padding-top-bottom();
  .nav {
    list-style: none;
    margin:0;
    li {
      	a {
        padding:10px;
        &::before { 
          width:10px;
          height:15px;
          background-image:url("../images/arrow_right_yellow.svg");
          background-size:100% 100%;
          content:"";
          margin-right:5px;
          display:inline-block;
        }
        &:hover, &:focus {
          background:inherit;
        }
      }

      &.active {
        > a {
          &::before { 
          width:10px;
          height:15px;
          background-image:url("../images/arrow_right_yellow_filled.svg");
          background-size:100% 100%;
          content:"";
          margin-right:5px;
          display:inline-block;
          }
        }
      }
      &.title {
        text-transform: uppercase;
        font-size:2.1rem;
        letter-spacing: 0.05rem;
        color:$near-black;
        padding:10px;
        a {
          padding:10px;
          margin:-10px;
          &::before {
            background:none;
            width:0;
            height:0;
            margin:0;
          }
        }
      }
    }
    li.dropdown {
      ul {
        display:none;
        margin-left:$spacing * 2;
      }
      a {
        display:block;
      }
      > ul > li > a {
        &::after { 
          width:10px;
          height:15px;
          float:right;
          background-image:url("../images/arrow_right_green.svg");
          background-size:100% 100%;
          content:"";
          margin-left:5px;
          display:inline-block;
        }
        &::before {
          background:none;
        }
      }
      &.active {
        > .dropdown-toggle {
          &::before { 
            width:15px;
            height:10px;
            background-image:url("../images/arrow_down_yellow.svg");
            background-size:100% 100%;
            content:"";
            margin-right:5px;
            display:inline-block;
          }
        }
        > ul {
          display:block !important;
        }
      }
    }
  }
}

.sidebar__off-canvas {
  padding-top:0;
  left:-$sidebar-width;
  position:absolute;
  z-index:0;
  width:$sidebar-width;
  background:$near-black;
  top:0;
  //overlay
  &::after {
    position:absolute;
    background:rgba(0,0,0,.7);
    left:0;
    top:0;
    width:100%;
    height:100%;
  }
  li {
    padding:$spacing;
    > a {
      &,&:hover,&:focus,&:active,&:visited {
        color:$color-1;
        background:none !important;
        margin:-$spacing;
        padding:$spacing;
      }
    }
  }

}

.form-control:focus {
  box-shadow: none;
}

.icon-col {
  text-align: center;
  font-size:1.2rem;
  @include padding-top-bottom();
  &, a {
    color:$near-black;
  }
}

//
//sm megamenu styles
//

.mm__small {
  position:relative;
  @include transition(.5s all ease);
  .mm--inner {
    margin-top:-40px - $spacing !important; // negative line height of mm--toggle - padding height
    overflow:hidden;
    position: relative;
    z-index:0;
    @include opacity(0);
    @include transition(.5s all ease);
    font-size:80%;
    padding-top:40px !important; //height of mm--toggle
    
  }
  .mm--toggle {
    &, &:focus {
      @include transition(.3s all ease);
      display:block;
      background:transparent !important;
      position: relative;
      z-index: 1;
      &::after {
        content:" + ";
        position:absolute;
        right:$spacing;
        top:$spacing;
      }
      &.active {
        &::after {
          content:" - ";
        }
      }
    }
  }
  &.closed {
  /* added a closed class bec. background needs to change */
    background:rgba(255,255,255,0) !important;
    .mm--inner {
      height:40px;
      padding-bottom:0 !important;
    }
  }
  &.open {
   .mm--toggle {
      color:$near-white !important;
    }
    .mm--inner {
      @include opacity(1);
      height:auto;
      padding-bottom:15px;
      *, a:hover {
        color:$near-white;
      }
    }
  }
}

//
// lg megamenu styles
//

.mm__lg {
  background:$color-1;
  position:absolute;
  padding-top:$header-height + 10;
  &.active {
    z-index:151;
    @include opacity(1);
  }
  &.open {
    @include transition(.3s opacity ease);
    top:0;
    min-height:300px;
    
  }
  top:-100%;
  position:absolute;
  @include opacity(0);
}

//
// shared megamenu styles
//

.mm {
  @include transition(.3s all ease);
  z-index:150;
  background:$near-white;
  left:0;
  width:100%;
  filter:none;
  overflow: hidden;
  &.mm-0 {
    @include mm-shadow-gradient(blue);
  }
  &.mm-1 {
    @include mm-shadow-gradient(green);
  }
  &.mm-2 {
    @include mm-shadow-gradient(yellow);
  }
  h3 {
    margin-top:0;
  }
  .mm--callouts {
    padding-top:$spacing;
  }
  .mm--inner {
    padding:$spacing;
  }
  &.active {
    z-index:151;
    .mm--inner {
      @include opacity(1);
    }
  }
  * {
    color:#fff;
  }
}

//
// Buttons
//
.btn__callout {
  &,&:hover,&:active,&:focus {
    color:$near-black;
    background:$gray-light;
    width:100%;
    margin:auto;
    text-align:center;
  }
}

//
// Bootstrap panels
//
.panel, .panel-body {
  @include box-shadow(none);
  @include border-radius(0);
  border:none;
  background:transparent;
  
}
.panel {
  .panel-heading {
    background:none;
    border-bottom-width:1px;
    border-bottom-style: solid;
    color:$near-black;
    @include border-radius(0);
    border-color:rgba(0,0,0,.3);
    padding-left:0;
    * {
      margin-top:0;
      padding-top:0;
    }
  }
}

.panel-welcome {
  background:$near-white;
  margin-top:15px;
  @include border-radius(5px);
}

.panel-gallery {
  .panel-body {
    padding:0;
  }
  .gallery {
    width:100%;
    overflow:hidden;
    
    > img {
      display:none; // display none so the images aren't shown before the whole
                    // page is loaded.  Overridden when galleria adds an
                    // inner wrapper.
    }
  }
}

